<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  
  <!-- Package Source Mapping - NU1507 warning'ini çözer -->
  <packageSourceMapping>
    <!-- Microsoft ve resmi paketler -->
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Serilog.*" />
      <package pattern="FluentValidation.*" />
      <package pattern="AutoMapper.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="MongoDB.*" />
      <package pattern="Npgsql.*" />
      <package pattern="Pomelo.*" />
      <package pattern="StackExchange.*" />
      <package pattern="Ocelot.*" />
      <package pattern="RabbitMQ.*" />
      <package pattern="Azure.*" />
      <package pattern="BenchmarkDotNet.*" />
      <package pattern="FluentMigrator.*" />
      <package pattern="Bogus" />
      <package pattern="xunit.*" />
      <package pattern="Moq" />
      <package pattern="coverlet.*" />
      <package pattern="FluentAssertions" />
      <package pattern="NuGet.*" />
      <package pattern="Polly.*" />
      <package pattern="Polly" />
      <package pattern="Autofac.*" />
      <package pattern="Autofac" />
      <package pattern="Serilog" />
      <package pattern="MessagePack" />
      <package pattern="MMLib.*" />
      <package pattern="CacheManager.*" />
      <package pattern="FirebirdSql.*" />
      <package pattern="MailKit" />
      <package pattern="AspectCore.*" />
      <package pattern="RazorEngineCore" />
      <package pattern="Castle.*" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="DocumentFormat.*" />
      <package pattern="FastMember" />
      <package pattern="Npgsql" />
      <package pattern="AWSSDK.*" />
      <package pattern="DnsClient" />
      <package pattern="SharpCompress" />
      <package pattern="Snappier" />
      <package pattern="ZstdSharp.*" />
      <package pattern="Pipelines.*" />
      <package pattern="MessagePack.Annotations" />
      <package pattern="AutoMapper" />
      <package pattern="FluentMigrator" />
      <package pattern="MimeKit" />
      <package pattern="Kros.*" />
      <package pattern="Ocelot" />
      <package pattern="runtime.*" />
      <package pattern="BouncyCastle.*" />
      <package pattern="FluentValidation" />
      <package pattern="IPAddressRange" />
      <package pattern="MySql.*" />
      <package pattern="MySqlConnector" />
    </packageSource>
  </packageSourceMapping>
</configuration>
