<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/maggsoft/index.json" />
  </packageSources>
  
  <!-- Package Source Mapping - NU1507 warning'ini çözer -->
  <packageSourceMapping>
    <!-- Microsoft ve resmi paketler -->
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Serilog.*" />
      <package pattern="FluentValidation.*" />
      <package pattern="AutoMapper.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="MongoDB.*" />
      <package pattern="Npgsql.*" />
      <package pattern="Pomelo.*" />
      <package pattern="StackExchange.*" />
      <package pattern="Ocelot.*" />
      <package pattern="RabbitMQ.*" />
      <package pattern="Azure.*" />
      <package pattern="BenchmarkDotNet.*" />
      <package pattern="FluentMigrator.*" />
      <package pattern="Bogus" />
      <package pattern="xunit.*" />
      <package pattern="Moq" />
      <package pattern="coverlet.*" />
      <package pattern="FluentAssertions" />
      <package pattern="NuGet.*" />
      <package pattern="Polly" />
    </packageSource>
    
    <!-- GitHub packages -->
    <packageSource key="github">
      <package pattern="Maggsoft.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
